body {
    font-family: Arial, Helvetica, sans-serif;
}

.login_tb {
    height: 50px;
    padding: 14px 16px;
    border-radius: .5rem;
    margin-bottom: .75rem;
    border: 1px solid #dddfe2;
    outline: none;
}
.login_tb:focus {
    border: 1.5px solid rgb(58, 119, 252);
}

.login_div1, .register_div1 {
    width: 360px;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    box-shadow: 0 0 30px 5px #888888;
    margin: 10rem auto;
    margin-bottom: 1rem;
    border-radius: .5rem;
}

.login_div2, .register_div2 {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.login_div3 {
    text-align: center;
}

.login_btn {
    margin: .5rem 0;
    padding: .5rem .75rem;
    font-size: 1.15rem;
}

/* Error Message */

.login_errorMsg, .register_errorMsg {
    width: 360px;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    box-shadow: 0 0 10px 0px #888888;
    margin: 1rem auto;
    border-radius: .5rem;
    background-color: white;
}

/* sidebar */

#sidebar {
    width: 250px;
    height: 100vh;
    /* box-shadow: 0 0 30px 5px #888; */
    display: flex;  
    flex-direction: column;
    justify-content: space-between;
    padding:1rem;
    position: fixed;
    background-color: #E3E3E3;
}
#sidebar_div1 {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
}
#sidebar_div1 > div:first-child {
    margin-bottom: 4rem;
}
#sidebar_div1 > div {
    margin-bottom: 3rem;
}

#sidebarNav > ul > li {
    margin-bottom: 1rem;
}
#sidebarNav > ul > ul > li {
    margin-left: 2rem;
    margin-bottom: .25rem;

}
a {
    text-decoration:none;
    color: inherit;
}

/* album */

#main {
    position: relative;
    left: 250px;
    height: 100vh;
    display: flex;
    flex-direction: row;
    background-color: #E3E3E3;
    width: calc(100% - 250px);
}
#navbar {
    width: calc(100% - 250px);
    height: 5rem;
    display: flex;  
    flex-direction: column;
    justify-content: space-between;
    padding:1rem;
    position: fixed;
    background-color: #E3E3E3;
    /* background-color: red; */
}
#album_main {
    width: 100%;
    height: 100%;
    background-color: #E3E3E3;
    /* background-color: blue; */
    overflow: hidden;
    padding: 0;
    padding-right: 1rem;
}
#album {
    margin-top: 5rem;
    background-color: white;
    /* background-color: green; */
    border-radius: 10px;
    width: 100%;
    padding: 1rem;
    padding-right: 0;
}
#album_div1 {
    margin-top: 5rem;
    width: 100%;
    height: 70vh;
    overflow: auto;
}
h1 {
    font-size: 5rem;
}

.imageDiv {
    height: 225px; 
    width: 100%; 
    display: flex; 
    align-items: center; 
    justify-content: center;
}

.images {
    max-height: 225px; 
    max-width: 100%; 
    display: block;
}

.navBtn:hover, .navBtn2:hover, .navBtn4:hover {
    background-color: lightblue;
}

.navBtn1:hover {
    cursor: default;
}

.navBtn, .navBtn1, .navBtn2, .navBtn4 {
    background-color: #E3E3E3;
    width: 100%;
    height: 2.8rem;
    border: none;
    border-radius: 1.5rem;
    text-align: start;
    padding-left: 1rem;
    color: inherit;
}

.navBtn4 {
    position: absolute;
    right: 1rem;
    width: 120px;
}

.navBtn2 {
    height: 2rem;
    border-radius: 1.5rem;
}